@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@300&display=swap');

.header {
    padding: 20px;
    height: 70px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > a{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo > a > img {
    height: 40px;
}
.logo > a > p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}
.li:hover {
    border-bottom: 2px solid white;
}
.download {
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}
.download:hover {
    background-color: white;
    color: black;
}
.socialNetworks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    gap: 40px;
}
.socialNetworks > a:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out 0s;
}