@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.timeline-scroll {
  animation-timeline: scroll(root block);
}

.timeline-reveal {
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}